.slider{
    width: 100%;
    height: 550px;
    position: relative;
    padding: 0;
}

.sliderContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100%;
    background-position-y: center;
}

.sliderOpcity{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #292a6e5e;
    z-index: 1;
}

.carousel div.item, .owl-stage-outer div.item{
    max-width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center
}

.carousel .owl-nav, .carousel .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
    z-index: 10;
    width: 100%;
    padding: 0 30px;
    visibility: visible;
    display: flex;
    justify-content: space-between;
    top: 30%;
    position: absolute;
}

.carousel .owl-nav button{
    background-color: rgba(255, 255, 255, 0.11);
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-theme .owl-nav [class*=owl-]{
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.322);
    color: white;
    box-shadow: 1px 1px 6px 2px transparent ;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .div.owl-theme div.owl-nav  button.owl-next{
    color: white;
}

.owl-theme .owl-nav [class*=owl-]:hover{
    box-shadow: 1px 1px 6px 2px rgba(56, 56, 56, 0.144);
    background-color: white;
    color: black;
}

.owl-nav {
    margin-top: -100px;
}

.homeCorouselDetails{
    width: 95%;
    max-width: 1100px;
    height: 250px;
    z-index: 100;
    background-color: white;
    border-radius: 20px 20px 5px 5px;
    box-shadow: 1px 1px 6px 2px rgba(56, 56, 56, 0.144);
    padding: 20px;
    margin-bottom: -160px;
}   

.carousel .owl-stage-outer{
    height: 100%;
}

.detailsBts{
    padding: 0 0 7px 0;
}

.detailsBts button{
    padding: 5px;
    font: normal 1em varela;
}

.detailsBts button:last-child{
    font-size: 0.7em;
}

.detailsText li{
    font: normal 1em varela;
    padding: 2px 0;
}

.shotSlideContainer{
    height: 250px;
}

.shotSlider{
    height: 100%;
}

.shotSlider .owl-stage-outer{
    height: 100%;
}

.shotSlider .owl-stage-outer div.item{
    height: 220px;
    background-position: center;
    border-radius: 10px;
    margin: 0 5px;
}

.shotSlideText{
    height: auto;
    padding: 5px;
}

div.shotSlideText h1, div.shotSlideText p{
    color: white;
    width: 100%;
    text-align: start;
    padding: 0;
    margin: 0;
    text-shadow: 3px 3px 5px #000, 3px 3px 5px #121215;
    font: normal 1.5em varela;
}

div.shotSlideText p{
    font-size: 1em;
}

div.shotSlideContainer div.hideMobile{
    display: none;
    visibility: hidden;
}

div.shotSlideContainer div.hideDesktop{
    display: flex;
    visibility: visible;
}

div.owl-theme div.owl-nav{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 25%;
}

div.owl-theme div.owl-nav button.owl-next, div.owl-theme div.owl-nav button.owl-prev{
    background-color: rgba(255, 255, 255, 0.342);
    width: 40px;
    height: 40px;
}

div.owl-theme div.owl-nav button.owl-next * , div.owl-theme div.owl-nav button.owl-prev *{
    color: black;
}

@media screen and (min-width: 992px){

    div.shotSlideContainer div.hideMobile{
        display: flex;
        visibility: visible;
    }

    div.shotSlideContainer div.hideDesktop{
        display: none;
        visibility: hidden;
    }
    
    .slider{
        height: 700px;
    }

    .owl-nav {
        margin-top: -150px;
    }

    .carousel div.item{
        height: 450px;
    }
    
}